<!DOCTYPE html>
<html>
  <head>
    <title>Goals</title>
    <%= favicon %>
    <% stylesheet 'assets/goals.css' %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
